/*Diractions*/
#Directions-body{
	text-align:center;
	width:120%; 
	height:120%;

}


body{
	margin:0;
	border:0;
	width:auto;
	height:auto;
	overflow:auto;
	border:0;
		position:relative;
		overflow-x:hidden;
		overflow-y:auto;
	
}

/*Bulder*/
#Editing-container{
background:gray;
position:relative;

}
#btn-actions,#action{
	text-align:center;	
}
#Diractions{
	text-align:center;
}
#Introduction{
	background:white;
	padding:0;
	border:0;
	width:101%;
	height:30%;
	float:left;
	position:relative;
	left:-8px;
	top:-8px;
	margin:0;
}


#SurveyBuilderBody{
	background-color:yellowgreen;
	

}
#Orgtitle{
	border:2px;
	margin-left:-40px;
	margin-bottom:-21px;
	margin-top:-11px;
	color:blue;
	font-family:cursive;
	background:transparent;
}
#yourTitle,#DescrtipionSave{
	font-size:34px;
	color:black;
	margin:-80;
	border:0px;
	
	
}
*{
	padding:0px;
	font-family:sans-serif;
}
#Sidebar{
	position:fixed;
	width:200px;
	height:100%;
	background:#151719;
	left:-200px;
	transition: all 500ms linear;
}

#Sidebar.active{
	left:0px;
    overflow-y:auto;
	overflow-x:hidden;
}

#Sidebar ul li{
	color:rgba(230,230,230,0.9);
list-style:none;
padding:15px 10px;
border-bottom:1px solid rgba(100,100,100,0.3);	
border-bottom:1px solid skyblue;
font-family:cursive;
cursor: cell;
}

 .toggle-sidebar-btn{
	position:absolute;
	left:210px;
	top:20px;
	display:block;
}
 .toggle-sidebar-btn span{
	display:block;
	width:30px;
	height:5px;
	background:#151719;
	margin:3px 0px;
}


#New{
	background-color:gray;
}

#New:hover{
	cursor:default;
}


.exit{
	
	font-size:18px;
	
}

::-webkit-scrollbar{
	width:5px;
}
::-webkit-scrollbar-track{
	border-radius:5px;
	box-shadow:inset 0 0 10px rgba(0,0,0,0.25);
}
::-webkit-scrollbar-thumb{
	border-radius:5px;
	background-color:#9f9ab8;
}
::-webkit-scrollbar-thumb:hover{
background-color:skyblue;
}
#Style{
	display:block;
	float:right;
	background-color:black;
	color:white;
	font-size:120px;
	border-radius:50%;
}
button{
	outline:none;
}
/*Style*/
#Style-btn{
	border:none;
	border-radius:25px;
	background:blue;
	color:black;
	width:50px;
	height:50px;
	border-color:blue;
	font-size:20px;
	
	
}
#save,#save-btn,#Load, #Data{
	color:red;
	font-size:20px;
	background:orange;
	border-radius:25px;
	border:none;
	width:50px;
	height:50px;
	float:right;
}
#temp{
	color:#3da896;
	font-size:20px;
	background:#ff00d4;
	border-radius:50px;
	border:none;
	width:105px;
	height:105px;
	float:right;

}
#save-text-instruct,#Cant-show{
	background:transparent;
	background-color:black;
	color:white;
	font-size:14px;
	width:180px;
	float:right;
	font-family:monospace;
}
#contact-btn{
color:skyblue;
background-color:green;
font-size:14px;
text-align:center;
border-radius:25px;
border:none;
width:50px;
height:50px;
float:right;	
}


#contact{
	background:transparent;
	background-color:black;
	color:white;
	font-size:14px;
	width:180px;
	float:right;
	font-family:monospace;
}
#Properties-btn{
	color:gray;
background-color:greenyellow;
font-size:11px;
text-align:center;
border-radius:25px;
border:none;
width:50px;
height:50px;
float:right;
}
#titleSave{
	float:right;
	width:250px;
	height:35px;
	background-color:#ff751a;
	border:none;
	color:blue;
	font-size:17px;
	overflow:auto;
	position:absolute;
	left:700px;
	top:95px;
}
#Conditions-btn{
	color:blue;
background-color:lightgray;
font-size:11px;
text-align:center;
border-radius:25px;
border:none;
width:50px;
height:50px;
float:right;
position:absolute;
top:1020px;	
left:120px;
}
#titleSave::placeholder{
	color:skyblue;
	font-size:15px;
}
#Error,#SpanError{
	float:right;
	padding:2px;
	color:white;
	background:transparent;
	background-color:blue;
	cursor:none;
	position:absolute;
}
#titleSave-btn{
	float:right;
	height:35px;
	background-color:blue;
	border:none;
	color:black;
	width:100px;
	outline:none;
	cursor:pointer;
	position:absolute;
	left:600px;
	top:95px;
	
}

#Contact-link{
	color:green;
}
#Contact-link:hover{
	background-color:yellow;
	background:transparent;
}
#Contact-link:visited{
	color:yellow;
}
#datetime{
	color:green;
	font-size:15px;
	margin:none;
}
br{
	width:0px;
	height:0px;
	border:none;
	margin:none;
}
#Lastest{
	background:transparent;
	color:black;
	margin:-33;
	border:0px;
	width:356px;
	font-size:15px;
}
#Timedate{
	font-size:15px;
	background:transparent;
	color:black;
	margin:-33;
	border:0px;
	width:356px;
}
#editor-container{
margin:0;
border:0px;
width:422;
background:transparent;
}
#list-editor-items{
	border:1px solid black;
	width:230px;
	height:400px;
	margin:0;
	background:transparent;
}
#center-editor-container{
	border:none;
	margin:none;
	background:transparent;
}
button:hover{
	cursor:pointer;
}
#Editors-Form{
	margin:0;
	width:850px;
	position:absolute;
	border:1px solid black;
	background:blue;
	top:50%;
	left:-50%;
	margin-top:15px;
	display:inline-block;
}

#Editors-Form #Insert-Object div{
	font-size:15px;
	color:black;
	margin-bottom:5px;
}
#Editing-container *{
	direction:ltr;
	text-align:left;
	color:black;
}
#List-Form{
list-style:none;
margin:0;

}
iframe{
	margin:0;
	border:0;
	border-top:5px solid black;
border-bottom:2px solid black;
border-left:3px solid black;
border-right:3px solid black;
	border-bottom-width:-80px;
}
#PreCon{
	margin:0;
	border:0;
	padding:0;
	position:absolute;
	right:220px;
	top:85%;
}
#Form-Center{
	width:250px;
	text-align:left;
	position:absolute;
	left:30%;
	white-space: normal;
}
#Style-clipboard{
	margin:0;
	border:0;
	padding:0;
	position:absolute;
	right:367px;
	top:180px;
}

#BgColor{
	position:absolute;
	right:-300px;
	
}
#Titlecolor{
	position:absolute;
	right:-300px;
	top:12%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#Slider-Con{
	position:absolute;
	right:-160px;
	top:-40px;
}
#CheckPre{
	position:absolute;
	right:365px;
}
#Slider-text{
		position:absolute;
	right:189px;
	top:10px;
}
#Publish{
	position:absolute;
	right:10px;
	top:10px;
}
#PassPro-Con{
	position:absolute;
	right:-450px;
	top:380px;
	
}
#Protect-switch-container{
	position:absolute;
	right:-70px;
	top:-10px;
}
#Password-editor{
	position:absolute;
	right:-900px;
	top:380px;
}
#Editor-Control-Form{
	position:absolute;
	right:15px;
	overflow:auto;
	height:500px;
	width:320px;
	background-color:#00ffd5;
	
}
#Editor-Control-Form h1{
	text-align:center;
}

/*Thank you*/




/*Footer*/
#SurveyMakerBanner{
  position: fixed;

  bottom: 5px;

  background-color: #D6D6C2;

  width: 90%;

  height: 50px;

 
}
#Text1{
	position:fixed;
	bottom:18px;
	left:300px;
	font-weight:bolder;
	color:blue;
}
#Text2{
	position:fixed;
	bottom:18px;
	left:750px;
	font-weight:bolder;
	color:blue;
}
#FourmLink{
	color:blue;
}
#FourmLink:hover{
	color:green;
}
#FourmLink:active{
	color:yellow;
}
#Text3{
	position:fixed;
	bottom:18px;
	left:1200px;
	font-weight:bolder;
	color:green;	
}

#copyright-print{
	display:none;
}
@media print{
	#Editors-Form{
       display:inline-block;
	   position:absolute !important;
	   left:-95% !important;
	   top:-10% !important;
	   float:left;
	   
	}

	#wcc{
	display:none;	
	}
	
	#Editors-Form input{
		border:1px solid black !important;
	}
	
	#Editors-Form input::placeholder{
		color:transparent;
	}
	#Sidebar{
		display:none;
	}
	
	#Orgtitle{
		display:none;
	}
	#Editor-Control-Form{
		display:none;
	}
	#titleSave{
		display:none;
	}
	#titleSave-btn{
		display:none;
	}
	#copyright-print{
		display:block;
		position:absolute;
		top:0%;
		
	}
	#SurveyMakerBanner{
display:none;
}

	
}

