/*Mobile device*/

/*When Mobile is up and down*/
@media only screen and (max-width: 375px){
	body{
		font-size:arial;
	}
	#Editors-Form{
		width:250px !important;
		position:absolute !important;
		left:-7% !important;
	}
	#Editor-Control-Form{
		position:absolute !important;
	right:-50px !important;
	}
	.title-input{
		position:absolute;
		left:-140%;
		top:0;
	}
	#titleSave{
		width:120px !important;
	}
	#wcc{
		position:absolute !important;
		left:80% !important;
	}
	#SurveyMakerBanner{
		display:none !important;
	}
}
/*When mobile is side to side
@media only screen and (min-width: 667px){
	body{
		font-size:arial;
	}
	#Editors-Form{
		width:350px !important;
		position:absolute !important;
		left:-7% !important;
	}
	#Editor-Control-Form{
		position:absolute !important;
	right:-50px !important;
	}
	.title-input{
		position:absolute;
		left:-65%;
		top:0;
	}
	#titleSave{
		width:120px !important;
	}
	#wcc{
		position:absolute !important;
		left:60% !important;
		top:25% !important;
	}
	#SurveyMakerBanner{
		display:none !important;
	}
}*/